---
key: 2
title: Blog
permalink: /blog/
options: fullwidth
excerpt: Just ramblings and musings? Nay, nay
image: pic01.jpg
background-image: pic01.jpg
---

<hr style="margin:1em 0 1em 0;" />

<ul style="list-style-type: none;">
{% assign p = '9999' %}
{% for post in site.posts %}
  {% assign n = post.date | date: "%Y" %}
  {% if n != p %}
    {% assign p = n %}
    <br /><h5>{{ n }} </h5>{%
  endif %}
  <li style="padding-bottom: 6px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
  <a href="{{ post.url | prepend: site.baseurl }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>&nbsp;
    {{ post.excerpt | strip_html | truncatewords: 12 }}</li>{%
endfor %}
</ul>
