<div class="navigation-area">
  <div class="row">
    {% if page.previous %}
      <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
        <div class="thumb">
          <div class="img-thumb" style="background-image: url('/images/100x/{{ page.previous.image | default:'prev.png' }}'" alt="{{ page.title }}');"></div>
        </div>
        <div class="arrow">
          <span class="lnr text-white lnr-arrow-left"></span>
        </div>
        <div class="details">
          <a href="{{ page.previous.url | relative_url }}">
            <p>Previous</p>
            <h4>{{ page.previous.title | markdownify | strip_html }}</h4>
          </a>
        </div>
      </div>
    {% endif %}

    {% if page.next %}
      <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
        <div class="details">
          <a href="{{ page.next.url | relative_url }}">
          <p>Next Post</p>
          <h4>{{ page.next.title | markdownify | strip_html }}</h4>
          </a>
        </div>
        <div class="arrow">
          <span class="lnr text-white lnr-arrow-right"></span>
        </div>
        <div class="thumb">
          <div class="img-thumb" style="background-image: url('/images/100x/{{ page.next.image | default:'next.png' }}'" alt="{{ page.title }}');"></div>
        </div>          
      </div>
    {% endif %}

  </div>
</div>
