---
layout: default
---
  <section class="wrapper{% if page.options contains 'minihead' %} minihead{% endif %} style5">
    <div class="inner{% if page.options contains 'fullwidth' %} fullwidth{% endif %}">
      
      {% if site.portfolio %}
        <h4>Technology</h4>
      {% endif %}
      <span id="post-date">{{ page.date  | date: "%-d %B %Y" }}</span>
      <hr style="margin-top:3px;" />
      {% include techlist.html %}

      {{ content }}

      {% include page-pagination.html %}

    </div>
  </section>
